.App {
  height: 700px;
  background-color: antiquewhite;
  font-style: italic;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

 .card {
  background-color:  aqua ;
  color: peru;
  display: inline-block;
  text-align: center;
  width: 4em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
 
 .activeCard {
  color: rgb(175, 76, 167);
  background: rgb(75, 158, 110);
 }

 .button{
  font-style: italic;
  margin-left: 4em;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }

 h1{
  padding: 0.5em;
  background: rgb(238, 130, 238);
 }
 h2{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
  background: rgb(255, 165, 0);
 }
.button2 {
  background-color: #008CBA;
} 
.button3 {
  background-color: #f44336;
} 